.text-box{
    position: absolute;
    width: 600px;
    height: 180px;
    left: 367px;
    top: 110px;
    padding-top: 1%;
    padding-left: 1%;

    border: 2px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 6px;
    background: transparent;
    resize: none;
    outline: none;

    font-size: 16px;
    line-height: 19px;
    color: #CCCCCC;
}

::placeholder{
    color: #CCCCCC;
}

.button-box{
    display: flex; 
    justify-content: center;
}

button:disabled {
    background: rgb(109, 112, 116,.5);
    border-color: rgb(109, 112, 116,.5);
}

.tweet-btn{
    position: absolute;
    width: 68px;
    height: 34px;
    left: 889px;
    top: 240px;
    outline:none;

    background: #007BFF;
    border-color: #007BFF;
    border-radius: 4px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

}

.tweet-btn:active{
    background: #007bffcc;
    border-color: #007bffcc;
  }

.overCharLimit{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #721C24;

    position: absolute;
    width: 338px;
    height: 29px;
    left: 375px;
    top: 250px;

    background: #F8D7DA;
    border: 1px solid #F5C6CB;
    box-sizing: border-box;
    border-radius: 4px;
}